<div class="profile-content__table">
  <div class="row">
    <span class="field-name">Почта</span>
    <span class="field-value">{{email}}</span>
  </div>
  <div class="row">
    <span class="field-name">Логин</span>
    <span class="field-value">{{login}}</span>
  </div>
  <div class="row">
    <span class="field-name">Имя</span>
    <span class="field-value">{{first_name}}</span>
  </div>
  <div class="row">
    <span class="field-name">Фамилия</span>
    <span class="field-value">{{second_name}}</span>
  </div>
  <div class="row">
    <span class="field-name">Имя в чате</span>
    <span class="field-value">{{display_name}}</span>
  </div>
  <div class="row">
    <span class="field-name">Телефон</span>
    <span class="field-value">{{phone}}</span>
  </div>
</div>
