<form class="auth-content__form">
  {{{EmailField}}}
  {{{LoginField}}}
  {{{FirstNameField}}}
  {{{SecondNameField}}}
  {{{PhoneField}}}
  {{{PasswordField}}}
  {{{PasswordConfirmField}}}

  <div class="auth-content__buttons">
    {{{SubmitButton}}}
    {{{AuthLink}}}
  </div>
</form>
