<form class="profile-content__table">
  {{{EmailField}}}
  {{{LoginField}}}
  {{{FirstNameField}}}
  {{{SecondNameField}}}
  {{{PhoneField}}}
  <div class="profile-content__buttons">
    {{{SubmitButton}}}
  </div>
</form>
