<div class="chats-content">
  <div class="chats-content__sidebar">
    <div class="sidebar-header">
      <a class="profile-link" href="../../templates/profile.hbs">Профиль</a>
      <input class="search-input" placeholder="Поиск">
    </div>
    <ul class="chats-list">
      <li class="chats-list__item">
        <img src="{{chatImg}}" alt="Chat empty img">
        <div class="group-left">
          <h3>Андрей</h3>
          <p>Изображение</p>
        </div>
        <div class="group-right">
          <div class="date-time">10:49</div>
          <div class="unread-count">2</div>
        </div>
      </li>
      <li class="chats-list__item active">
        <img src="{{chatImg}}" alt="Chat empty img">
        <div class="group-left">
          <h3>Киноклуб</h3>
          <p><b>Вы:</b> стикер</p>
        </div>
        <div class="group-right">
          <div class="date-time">12:00</div>
          <div class="unread-count hide"></div>
        </div>
      </li>
      <li class="chats-list__item">
        <img src="{{chatImg}}" alt="Chat empty img">
        <div class="group-left">
          <h3>Илья</h3>
          <p>Друзья, у меня для вас особенный выпуск новостей!...</p>
        </div>
        <div class="group-right">
          <div class="date-time">15:12</div>
          <div class="unread-count">4</div>
        </div>
      </li>
      <li class="chats-list__item">
        <img src="{{chatImg}}" alt="Chat empty img">
        <div class="group-left">
          <h3>Андрей</h3>
          <p>Изображение</p>
        </div>
        <div class="group-right">
          <div class="date-time">10:49</div>
          <div class="unread-count hide"></div>
        </div>
      </li>
      <li class="chats-list__item">
        <img src="{{chatImg}}" alt="Chat empty img">
        <div class="group-left">
          <h3>Киноклуб</h3>
          <p><b>Вы:</b> стикер</p>
        </div>
        <div class="group-right">
          <div class="date-time">12:00</div>
          <div class="unread-count hide"></div>
        </div>
      </li>
      <li class="chats-list__item">
        <img src="{{chatImg}}" alt="Chat empty img">
        <div class="group-left">
          <h3>Илья</h3>
          <p>Друзья, у меня для вас особенный выпуск новостей!...</p>
        </div>
        <div class="group-right">
          <div class="date-time">15:12</div>
          <div class="unread-count hide"></div>
        </div>
      </li>
      <li class="chats-list__item">
        <img src="{{chatImg}}" alt="Chat empty img">
        <div class="group-left">
          <h3>Андрей</h3>
          <p>Изображение</p>
        </div>
        <div class="group-right">
          <div class="date-time">10:49</div>
          <div class="unread-count hide"></div>
        </div>
      </li>
      <li class="chats-list__item">
        <img src="{{chatImg}}" alt="Chat empty img">
        <div class="group-left">
          <h3>Киноклуб</h3>
          <p><b>Вы:</b> стикер</p>
        </div>
        <div class="group-right">
          <div class="date-time">12:00</div>
          <div class="unread-count hide"></div>
        </div>
      </li>
      <li class="chats-list__item">
        <img src="{{chatImg}}" alt="Chat empty img">
        <div class="group-left">
          <h3>Илья</h3>
          <p>Друзья, у меня для вас особенный выпуск новостей!...</p>
        </div>
        <div class="group-right">
          <div class="date-time">15:12</div>
          <div class="unread-count hide"></div>
        </div>
      </li>
      <li class="chats-list__item">
        <img src="{{chatImg}}" alt="Chat empty img">
        <div class="group-left">
          <h3>Андрей</h3>
          <p>Изображение</p>
        </div>
        <div class="group-right">
          <div class="date-time">10:49</div>
          <div class="unread-count hide"></div>
        </div>
      </li>
      <li class="chats-list__item">
        <img src="{{chatImg}}" alt="Chat empty img">
        <div class="group-left">
          <h3>Киноклуб</h3>
          <p><b>Вы:</b> стикер</p>
        </div>
        <div class="group-right">
          <div class="date-time">12:00</div>
          <div class="unread-count hide"></div>
        </div>
      </li>
      <li class="chats-list__item">
        <img src="{{chatImg}}" alt="Chat empty img">
        <div class="group-left">
          <h3>Илья</h3>
          <p>Друзья, у меня для вас особенный выпуск новостей!...</p>
        </div>
        <div class="group-right">
          <div class="date-time">15:12</div>
          <div class="unread-count hide"></div>
        </div>
      </li>
      <li class="chats-list__item">
        <img src="{{chatImg}}" alt="Chat empty img">
        <div class="group-left">
          <h3>Андрей</h3>
          <p>Изображение</p>
        </div>
        <div class="group-right">
          <div class="date-time">10:49</div>
          <div class="unread-count hide"></div>
        </div>
      </li>
      <li class="chats-list__item">
        <img src="{{chatImg}}" alt="Chat empty img">
        <div class="group-left">
          <h3>Киноклуб</h3>
          <p><b>Вы:</b> стикер</p>
        </div>
        <div class="group-right">
          <div class="date-time">12:00</div>
          <div class="unread-count hide"></div>
        </div>
      </li>
      <li class="chats-list__item">
        <img src="{{chatImg}}" alt="Chat empty img">
        <div class="group-left">
          <h3>Илья</h3>
          <p>Друзья, у меня для вас особенный выпуск новостей!...</p>
        </div>
        <div class="group-right">
          <div class="date-time">15:12</div>
          <div class="unread-count hide"></div>
        </div>
      </li>
      <li class="chats-list__item">
        <img src="{{chatImg}}" alt="Chat empty img">
        <div class="group-left">
          <h3>Андрей</h3>
          <p>Изображение</p>
        </div>
        <div class="group-right">
          <div class="date-time">10:49</div>
          <div class="unread-count hide"></div>
        </div>
      </li>
      <li class="chats-list__item">
        <img src="{{chatImg}}" alt="Chat empty img">
        <div class="group-left">
          <h3>Киноклуб</h3>
          <p><b>Вы:</b> стикер</p>
        </div>
        <div class="group-right">
          <div class="date-time">12:00</div>
          <div class="unread-count hide"></div>
        </div>
      </li>
      <li class="chats-list__item">
        <img src="{{chatImg}}" alt="Chat empty img">
        <div class="group-left">
          <h3>Илья</h3>
          <p>Друзья, у меня для вас особенный выпуск новостей!...</p>
        </div>
        <div class="group-right">
          <div class="date-time">15:12</div>
          <div class="unread-count hide"></div>
        </div>
      </li>
    </ul>
  </div>
  <div class="chats-content__main">
    <p class="chats-empty">Выберите чат, чтобы отправить сообщение</p>
  </div>
</div>
