<ul class="chats-list">
  {{#each chats}}
    <li class="chats-list__item">
      <img src="{{this.img}}" alt="Chat empty img">
      <div class="group-left">
        <h3>{{this.title}}</h3>
        <p>{{{this.text}}}</p>
      </div>
      <div class="group-right">
        <div class="date-time">{{this.dateTime}}</div>
        {{#if unread}}
        <div class="unread-count">{{this.unread}}</div>
        {{/if}}
      </div>
    </li>
  {{/each}}
</ul>
