<div class="chats-content__sidebar">
  <div class="sidebar-header">
    {{{LinkProfile}}}
    {{{InputSearch}}}
    {{{AddChatButton}}}
    {{#if showModalAddChat}}
      {{{ModalAddChat}}}
    {{/if}}
  </div>
  {{{ChatsList}}}
</div>
