<div class="chats-content__main">
  {{#if selectedChat}}
    <div class="chat">
      <div class="chat__header">
        <img class="avatar" src="{{selectedChat.avatar}}" alt="chat img">
        <h3 class="chat__title">{{selectedChat.title}}</h3>
        <div class="chat__settings">
          {{{LinkSettings}}}
          {{#if showModalChatSettings}}
            {{{ModalChatSettings}}}
          {{/if}}
        </div>
      </div>
      {{{ChatMessages}}}
      <div class="chat__form">
        {{{ChatForm}}}
      </div>
    </div>
  {{else}}
    <p class="chats-empty">Выберите чат, чтобы отправить сообщение</p>
  {{/if}}
</div>
