<div class="profile-main">
  {{{ProfileAvatar}}}
  <h1 class="profile-content__title">{{{first_name}}}</h1>
  {{#unless editProfile}}
    {{#unless editProfilePassword}}
      {{{ProfileTable}}}
      <div class="profile-content__buttons">
        {{{ProfileEditLink}}}
        {{{ProfilePasswordEditLink}}}
        {{{ProfileLogoutLink}}}
      </div>
    {{/unless}}
  {{/unless}}
  {{#if editProfile}}
    {{{ProfileForm}}}
  {{/if}}
  {{#if editProfilePassword}}
    {{{ProfilePasswordForm}}}
  {{/if}}
</div>
